<div class="picture-map-editor-overlay-ui">
	<div ng-if="overlay.tools.length"
		 class="picture-map-editor-overlay-ui-bar"
		 jqyoui-draggable="{animate: true, onStop: 'stopBarDrag'}"
		 data-drag="true">
		<div class="picture-map-editor-overlay-ui-tools-handle"></div>
		<ul class="picture-map-editor-overlay-ui-tools-content">
			<li ng-repeat="group in overlay.tools track by group.$$id">
				<div ng-switch="group.type">
					<ul ng-switch-when="group"
						class="picture-map-editor-overlay-ui-tools-group">
						<li ng-repeat="tool in group.tools track by tool.$$id"
							class="picture-map-editor-overlay-ui-tools-group-item">
							<div ng-switch="tool.type">
								<a ng-switch-when="button"
								   ng-click="clickButton(tool.$$id)"
								   ng-class="{'active': tool.$$active}"
								   class="picture-map-editor-overlay-ui-tools-button"
								   ng-attr-title="{{tool.title}}"
								   ng-switch="tool.$$active">
									<span ng-switch-when="true"
										  nb-icon-once
										  data-title="{{tool.title}}"
										  data-color="{{overlay.buttonActiveColor}}"
										  data-id="{{tool.icon.id}}"
										  data-hover-id="{{tool.icon.hoverId}}"></span>
									<span ng-switch-default
										  nb-icon-once
										  data-title="{{tool.title}}"
										  data-color="{{overlay.buttonColor}}"
										  data-id="{{tool.icon.id}}"
										  data-hover-id="{{tool.icon.hoverId}}"></span>
								</a>
							</div>
						</li>
					</ul>
					<div ng-switch-default
						 class="picture-map-editor-overlay-ui-tools-single">
						<div ng-switch="group.type">
							<a ng-switch-when="button"
							   ng-click="clickButton(group.$$id)"
							   ng-class="{'active': group.$$active}"
							   class="picture-map-editor-overlay-ui-tools-button"
							   ng-attr-title="{{group.title}}"
							   ng-switch="group.$$active">
								<span ng-switch-when="true"
									  nb-icon-once
									  data-title="{{group.title}}"
									  data-color="{{overlay.buttonActiveColor}}"
									  data-id="{{group.icon.id}}"
									  data-hover-id="{{group.icon.hoverId}}"></span>
								<span ng-switch-default
									  nb-icon-once
									  data-title="{{group.title}}"
									  data-color="{{overlay.buttonColor}}"
									  data-id="{{group.icon.id}}"
									  data-hover-id="{{group.icon.hoverId}}"></span>
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div nb-picture-map-editor-overlay-ui-areas></div>
</div>
